/* normal buttons */
button {
    background-color: inherit;
    padding: 0.8rem 2rem;
    border-color: #9D968C;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    transition: all 0.3s;
    cursor: pointer; 
}

button span {
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.7rem;
    transition: 0.3s;
}

button:hover span {
    background-color: #F0EEED;
    padding-right: 0.7rem;
}

button:hover {
    background-color: #F0EEED;
    border-color: #5C5954;
    cursor: grab/pointer
}
  
button:hover span:after {
    background-color: #F0EEED;
    opacity: 1;
    right: 0;
}

/* logo button */
.topnav a > logo {
    float: left;
    text-decoration: none;
    margin-right: 20px;
}

/* dropdown menu button */
.dropdown {
    float: left;
    overflow: hidden;
    background-color: #fffdfdc4;
}

.dropdown .dropbtn {
    background-color: #fffdfdc4;
    font: inherit;
    border: none;
    border-radius: 0;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
}
  
.dropdown button:hover, .dropbtn:focus {
    text-decoration: underline;
}
  
/* dropdown menu container and contents */
  
.dropdown-content {
    display: none;
    position: relative;
    background-color: #fffdfddd;
    min-width: 15vw;
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    background-color: inherit;
    padding: 20px 10px 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

@media screen and (max-width: 699px) {
    .dropdown {
        float: right;
        overflow: hidden;
        background-color: #fffdfdc4;
    }
    
    .dropdown .dropbtn {
        background-color: #fffdfdc4;
        font: inherit;
        border: none;
        border-radius: 0;
        outline: none;
        padding: 14px 16px;
        margin: 0;
        font-size: 16px;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: #fffdfddd;
        min-width: 15vw;
        z-index: 1;
    }
      
    .dropdown-content a {
        float: none;
        background-color: inherit;
        padding: 20px 10px 15px 15px;
        text-decoration: none;
        display: block;
        text-align: right;
    }
    
}
  
.dropdown-content a:hover {text-decoration: underline;}

.dropdown:hover .dropdown-content {display: block;}
  
/* show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* search bar */
.search {
    background-color: #fffdfd;
    vertical-align: middle;
    outline: none;
    margin-left: 8px;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    width: 50vw;
    height: 2rem;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    transition: width 0.3s ease;
    transform: translateY(7px);
}
@media screen and (max-width: 699px) {
    .search {
        transform: translateY(20px);
    }
}

.search input {
    border: none;
    padding-left: 1rem;
    width: 45vw;
    text-decoration: none;
}

.search .magnify {
    transform: translate(0.3rem, 0.1rem)
}
.search .clear {
    float: right;
    background-color: #fffdfd00;
    color: #9D968C;
    transform: translateY(-1.1rem);
}

.input::placeholder {
    color: #9D968C;
    text-decoration: none;
}

/* split menu buttons */

.split {
    float: right;
}

.split a, .split button {
    float: left;
    display: block;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

/* product card buttons */

.card button {
    display: block;
    position: absolute;
    top: 3%;
    right: 4%;
    background-color: #fffdfd;
    border: none;
    padding: 13px 16px 8px;
    cursor: pointer;
    border-radius: 25px;
}

/* on hover, card buttons change to filled icons */
.card i:nth-child(2) {
    display: none; 
}
  
.card button:hover i:nth-child(1) {
    display: none;
}
  
.card button:hover i:nth-child(2) {
    display: block;
}

/* product colour/size select buttons */
.product .dropbtn {
    border: none;
}

.product .dropbtn:hover {
    background-color: #fffdfd;
}

.product label {font-weight: 400;}

.product select {
    border: none;
    font-size: inherit;
}

/* item quantity */

.quantity {
    border: #9D968C;
    border-color: #9D968C;
    border-width: 1px;
    border-radius: 20px;
}
  
.quantity button {
    border: none;
    cursor: pointer;
    text-align: center;
}

.quantity button:hover {
    background-color: inherit;
}
  
.input-box {
    width: 20px;
    text-align: center;
    border: none;
    font-size: 1.5rem;
}
  
/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
.input-box[type="number"] {
    appearance: textfield;
}

/* click to reveal/hide text */
.toggle {
    border: none;
    text-align: left;
    padding-left: 0%;
}
.toggle:hover {
    background-color: inherit;
}

.toggle i {
    margin-left: 1rem;
}