/* normal buttons */
button {
    background-color: FCFAF9;
    padding: 0.7rem 2rem;
    border-color: #9D968C;
    border-radius: 30px;
    border-width: 1px;
    transition: all 0.3s;
    cursor: pointer; 
}

button span {
    background-color: #FCFAF9;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.7rem;
    transition: 0.3s;
}

button:hover span {
    background-color: #F0EEED;
    padding-right: 0.7rem;
}

button:hover {
    background-color: #F0EEED;
    border-color: #5C5954;
    
}
  
button:hover span:after {
    background-color: #F0EEED;
    opacity: 1;
    right: 0;
}

/* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: #3F2C1E;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #F2F2F0;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.quantity {
    display: inline-flex;
    border: 2px solid #C3BBAE;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.quantity button {
    background-color: #C3BBAE;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: auto;
    text-align: center;
    transition: background-color 0.2s;
}
  
.quantity button:hover {
    background-color: #9D968C;
}
  
.input-box {
    width: 40px;
    text-align: center;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
}
  
/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
.input-box[type="number"] {
    appearance: textfield;
}