* {
    background-color: #FCFAF9;
}

/* header */
.topnav {
    display: flex;
    overflow: hidden;
    padding: 17px 15px;
}

.topnav div {
    float: left;
    padding-right: 2em;
    margin: auto;
}

.topnav div.split {
    float: right;
    padding: 0px 20px;
}

.split a, .split button {
    padding-right: 1em;
}

#menu {
    float: right;
    padding-right: 3em;
}

/* page heading */
.centred {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.centred > h1 {
    margin-block: auto;
}

.mosaic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-between;
    justify-content: space-around;
}

/* product cards */
section .mosaic {
    display: flex;
    flex-wrap: wrap;
    margin-block: 5%;
}
.card {
    background-color: #FCFAF9;
    max-width: fit-content;
}

/* breadcrumb navigation */
/* Style the list */
ul.breadcrumb {
    padding: 8px 8px;
    list-style: none;
}
  
/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
  
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #C3BBAE;
    content: "/\00a0";
}
  
/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #C3BBAE;
    text-decoration: none;
}
  
/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #9D968C;
    text-decoration: underline;
}

form {
    margin: 50px 0 0 0;
}

form div {
    overflow: hidden;
    margin: 0 0 5px 0;
}