@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Frank+Ruhl+Libre:wght@300..900&display=swap');

* {
    font-family: 'Frank Ruhl Libre', 'Times New Roman', serif;
    font-weight: 300;
    text-decoration: none;
    color: #3F2C1E;
}

@media screen and (min-width: 700px) {
logo {
    font-family: 'Caramel', 'Brush Script MT', cursive;
    font-size: 5vh;
}

#watermark {
    font-size: 30vw;
    color: #e6e0d7;
}

h1 {
    font-weight: 500;
    font-size: 48px;
}

h2 {
    font-weight: 400;
    font-size: 32px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

p {
    font-size: 18px;
}

button, button span {
    font-weight: 400;
    font-size: 18px;
}
}
  
@media screen and (max-width: 699px) {
logo {
    font-family: 'Caramel', 'Brush Script MT', cursive;
    font-size: 8vh;
}

#watermark {
    font-size: 55vw;
    color: #e6e0d7;
}

h1 {
    font-weight: 500;
    font-size: 10vw;
}

h3 {
    font-weight: 700;
    font-size: 5vw;
}

button, button span {
    font-weight: 400;
    font-size: 3vw;
}

p {
    font-size: 3vw;
}
}