/* images */  

img {
    background-color: #F0EEED;
    margin-top: 8px;
    vertical-align: middle;
    width: 33vw;
}

img.large {
    width: 50vw;
}

img.medium {
    width: 30vw;
}

img.small {
    width: 20vw;
}