/* icons */
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css');

i {
    -webkit-text-fill-color: #3F2C1E;
}

button i {
    -webkit-text-fill-color: #9D968C;
}

button i:hover {
    -webkit-text-fill-color: #3F2C1E;
}

/* images */
img {
    background-color: #F0EEED;
    width: 25vw;
}

img.large {
    width: 50vw;
}

img.medium {
    width: 30vw;
}

img.small {
    width: 20vw;
}

.card {
    max-width: fit-content;
    margin: 1vw;
}